apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}-app
  labels:
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    {{- if .Values.CI_PIPELINE_ID }}
    autodeployed: "true"
    pipeline_id: "{{  .Values.CI_PIPELINE_ID }}"
    {{- end }}
    {{- if .Values.CI_BUILD_ID }}
    build_id: "{{ .Values.CI_BUILD_ID }}"
    {{- end }}
spec:
  replicas: {{ .Values.app.replicaCount }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}
        stage: {{ .Values.stage }}
        tier: app
      annotations:
        pod.beta.kubernetes.io/init-containers: '[
          {
            "name": "wait-for-db-service",
            "image": "busybox",
            "command": ["sh", "-c", "until nslookup {{ template "fullname" . }}-db; do echo waiting for {{ template "fullname" . }}-db; sleep 2; done;"],
            "imagePullPolicy": "{{ .Values.app.image.pullPolicy }}"
          },
          {
            "name": "init-db",
            "image": "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}",
            "command": ["sh", "-c", "python manage.py database create {{ if .Values.demoInstance }}--sample_data{{ end }}"],
            "imagePullPolicy": "{{ .Values.app.image.pullPolicy }}",
            "env": [
              {
                "name": "DB_HOST",
                "value": "{{ template "fullname" . }}-db"
              },
              {
                "name": "DB_PORT",
                "value": "{{ .Values.dbPort }}"
              },
              {
                "name": "DB_USERNAME",
                "value": "{{ .Values.dbUsername }}"
              },
              {
                "name": "DB_PASSWORD",
                "valueFrom":
                {
                  "secretKeyRef":
                    {
                        "name": "{{ template "fullname" . }}",
                        "key": "mysql_password"
                    }
                }
              },
              {
                "name": "DB_NAME",
                "value": "{{ .Values.dbName }}"
              }
            ]
          },
          {
            "name": "upgrade-db",
            "image": "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}",
            "command": ["sh", "-c", "alembic upgrade head"],
            "imagePullPolicy": "{{ .Values.app.image.pullPolicy }}",
            "env": [
              {
                "name": "DB_HOST",
                "value": "{{ template "fullname" . }}-db"
              },
              {
                "name": "DB_PORT",
                "value": "{{ .Values.dbPort }}"
              },
              {
                "name": "DB_USERNAME",
                "value": "{{ .Values.dbUsername }}"
              },
              {
                "name": "DB_PASSWORD",
                "valueFrom":
                {
                  "secretKeyRef":
                    {
                        "name": "{{ template "fullname" . }}",
                        "key": "mysql_password"
                    }
                }
              },
              {
                "name": "DB_NAME",
                "value": "{{ .Values.dbName }}"
              }
            ]
          }
        ]'
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}"
        imagePullPolicy: {{ .Values.app.image.pullPolicy }}
        env:
        - name: DB_HOST
          value: "{{ template "fullname" . }}-db"
        - name: DB_PORT
          value: {{ .Values.dbPort | quote }}
        - name: DB_USERNAME
          value: {{ .Values.dbUsername | quote }}
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ template "fullname" . }}
              key: mysql_password
        - name: DB_NAME
          value: {{ .Values.dbName | quote }}
        - name: CELERY_BROKER_URL
          value: "redis://{{ template "fullname" . }}-redis:{{ .Values.redis.service.port }}"
        - name: ATTACHMENT_UPLOAD_LIMIT
          value: {{ .Values.attachment.uploadLimit | quote }}
        - name: ATTACHMENT_ALLOWED_EXTENSIONS
          value: {{ .Values.attachment.allowedExtensions | quote }}
        - name: ATTACHMENT_PREVIEW_EXTENSIONS
          value: {{ .Values.attachment.previewExtensions | quote }}
        - name: APP_LOGIN_ENABLED
          value: {{ .Values.appLoginEnabled | quote }}
        - name: LTI_LOGIN_ENABLED
          value: {{ .Values.ltiLoginEnabled | quote }}
        - name: CAS_LOGIN_ENABLED
          value: {{ .Values.cas.enabled | quote }}
        {{- if .Values.cas.enabled }}
        - name: CAS_GLOBAL_UNIQUE_IDENTIFIER_FIELD
          value: {{ .Values.cas.globalUniqueIdentifierField | quote }}
        - name: CAS_SERVER
          value: {{ .Values.cas.server | quote }}
        - name: CAS_AUTH_PREFIX
          value: {{ .Values.cas.authPrefix | quote }}
        - name: CAS_USE_SAML
          value: {{ .Values.cas.useSAML | quote }}
        - name: CAS_ATTRIBUTE_USER_ROLE
          value: {{ .Values.cas.attributeUserRole | quote }}
        - name: CAS_INSTRUCTOR_ROLE_VALUES
          value: {{ .Values.cas.instructorRoleValues | quote }}
        - name: CAS_ATTRIBUTE_FIRST_NAME
          value: {{ .Values.cas.attributeFirstName | quote }}
        - name: CAS_ATTRIBUTE_LAST_NAME
          value: {{ .Values.cas.attributeLastName | quote }}
        - name: CAS_ATTRIBUTE_STUDENT_NUMBER
          value: {{ .Values.cas.attributeStudentNumber | quote }}
        - name: CAS_ATTRIBUTE_EMAIL
          value: {{ .Values.cas.attributeEmail | quote }}
        {{- end }}
        - name: SAML_LOGIN_ENABLED
          value: {{ .Values.saml.enabled | quote }}
        {{- if .Values.saml.enabled }}
        - name: SAML_GLOBAL_UNIQUE_IDENTIFIER_FIELD
          value: {{ .Values.saml.globalUniqueIdentifierField | quote }}
        {{- if .Values.saml.settings }}
        - name: SAML_SETTINGS
          valueFrom:
            secretKeyRef:
              name: {{ template "fullname" . }}
              key: saml_settings
        {{- end }}
        - name: SAML_SETTINGS_FILE
          value: {{ .Values.saml.settingsFile | quote }}
        - name: SAML_METADATA_URL
          value: {{ .Values.saml.metadataUrl | quote }}
        - name: SAML_METADATA_ENTITY_ID
          value: {{ .Values.saml.metadataEntityId | quote }}
        - name: SAML_EXPOSE_METADATA_ENDPOINT
          value: {{ .Values.saml.exposeMetadataEndpoint | quote }}
        - name: SAML_ATTRIBUTE_USER_ROLE
          value: {{ .Values.saml.attributeUserRole | quote }}
        - name: SAML_INSTRUCTOR_ROLE_VALUES
          value: {{ .Values.saml.instructorRoleValues | quote }}
        - name: SAML_ATTRIBUTE_FIRST_NAME
          value: {{ .Values.saml.attributeFirstName | quote }}
        - name: SAML_ATTRIBUTE_LAST_NAME
          value: {{ .Values.saml.attributeLastName | quote }}
        - name: SAML_ATTRIBUTE_STUDENT_NUMBER
          value: {{ .Values.saml.attributeStudentNumber | quote }}
        - name: SAML_ATTRIBUTE_EMAIL
          value: {{ .Values.saml.attributeEmail | quote }}
        {{- end }}
        - name: XAPI_ENABLED
          value: {{ .Values.xapi.enabled | quote }}
        {{- if .Values.xapi.enabled }}
        - name: XAPI_APP_BASE_URL
          value: {{ .Values.xapi.appBaseURL | quote }}
        - name: LRS_STATEMENT_ENDPOINT
          value: {{ .Values.xapi.lrsStatementEndpoint | quote }}
        - name: LRS_USERNAME
          value: {{ .Values.xapi.lrsUsername | quote }}
        {{- if .Values.xapi.lrsPassword }}
        - name: LRS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ template "fullname" . }}
              key: lrs_password
        {{- end }}
        - name: LRS_ACTOR_ACCOUNT_USE_GLOBAL_UNIQUE_IDENTIFIER
          value: {{ .Values.xapi.lrsActorAccountUseGlobalUniqueIdentifier | quote }}
        - name: LRS_ACTOR_ACCOUNT_GLOBAL_UNIQUE_IDENTIFIER_HOMEPAGE
          value: {{ .Values.xapi.lrsActorAccountGlobalUniqueIdentifierHomepage | quote }}
        - name: LRS_USER_INPUT_FIELD_SIZE_LIMIT
          value: {{ .Values.xapi.lrsUserInputFieldSizeLimit | quote }}
        {{- end }}
        - name: ASSET_LOCATION
          value: {{ .Values.assetLocation | quote }}
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: {{ template "fullname" . }}
              key: secret_key
        - name: ENFORCE_SSL
          value: {{ .Values.enforceSSL | quote }}
        - name: DEMO_INSTALLATION
          value: {{ .Values.demoInstance | quote }}
        - name: CELERY_TIMEZONE
          value: {{ .Values.celeryTimezone | quote }}
        - name: MAIL_NOTIFICATION_ENABLED
          value: {{ .Values.mail.enabled | quote }}
        {{- if .Values.mail.enabled }}
        - name: MAIL_SERVER
          value: {{ .Values.mail.server | quote }}
        - name: MAIL_PORT
          value: {{ .Values.mail.port | quote }}
        - name: MAIL_USE_SSL
          value: {{ .Values.mail.useSSL | quote }}
        - name: MAIL_USE_TLS
          value: {{ .Values.mail.useTLS | quote }}
        - name: MAIL_USERNAME
          value: {{ .Values.mail.username | quote }}
        {{- if .Values.mail.password }}
        - name: MAIL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ template "fullname" . }}
              key: mail_password
        {{- end }}
        - name: MAIL_DEFAULT_SENDER
          value: {{ .Values.mail.defaultSender | quote }}
        {{- end }}
        - name: KALTURA_ENABLED
          value: {{ .Values.kaltura.enabled | quote }}
        {{- if .Values.kaltura.enabled }}
        - name: KALTURA_SERVICE_URL
          value: {{ .Values.kaltura.serviceURL | quote }}
        - name: KALTURA_PARTNER_ID
          value: {{ .Values.kaltura.partnerId | quote }}
        {{- if .Values.kaltura.secret }}
        - name: KALTURA_SECRET
          valueFrom:
            secretKeyRef:
              name: {{ template "fullname" . }}
              key: kaltura_secret
        {{- end }}
        - name: KALTURA_USER_ID
          value: {{ .Values.kaltura.userId | quote }}
        - name: KALTURA_PLAYER_ID
          value: {{ .Values.kaltura.playerId | quote }}
        - name: KALTURA_VIDEO_EXTENSIONS
          value: {{ .Values.kaltura.videoExtensions | quote }}
        - name: KALTURA_AUDIO_EXTENSIONS
          value: {{ .Values.kaltura.audioExtensions | quote }}
        {{- end }}
        - name: EXPOSE_EMAIL_TO_INSTRUCTOR
          value: {{ .Values.expose.emailToInstructor | quote }}
        - name: EXPOSE_CAS_USERNAME_TO_INSTRUCTOR
          value: {{ .Values.expose.casUsernameToInstructor | quote }}
        - name: ALLOW_STUDENT_CHANGE_NAME
          value: {{ .Values.allowStudentChange.name | quote }}
        - name: ALLOW_STUDENT_CHANGE_DISPLAY_NAME
          value: {{ .Values.allowStudentChange.displayName | quote }}
        - name: ALLOW_STUDENT_CHANGE_STUDENT_NUMBER
          value: {{ .Values.allowStudentChange.studentNumber | quote }}
        - name: ALLOW_STUDENT_CHANGE_EMAIL
          value: {{ .Values.allowStudentChange.email | quote }}
        - name: GA_TRACKING_ID
          value: {{ .Values.gaTrackingId | quote }}
        ports:
        - containerPort: {{ .Values.app.service.internalPort }}
        livenessProbe:
          httpGet:
            path: /app/
            port: {{ .Values.app.service.internalPort }}
        readinessProbe:
          httpGet:
            path: /app/
            port: {{ .Values.app.service.internalPort }}
      {{- if .Values.app.persistence.enabled }}
        volumeMounts:
        - name: {{ template "fullname" . }}-persistent-storage
          mountPath: /code/persistent
      volumes:
      - name: {{ template "fullname" . }}-persistent-storage
        persistentVolumeClaim:
          claimName: {{ template "fullname" . }}-app-pvc
      {{- end }}

---

apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}-app
  labels:
    app: {{ template "fullname" . }}
    stage: {{ .Values.stage }}
    tier: app
    {{- if .Values.CI_PIPELINE_ID }}
    autodeployed: "true"
    pipeline_id: "{{  .Values.CI_PIPELINE_ID }}"
    {{- end }}
    {{- if .Values.CI_BUILD_ID }}
    build_id: "{{ .Values.CI_BUILD_ID }}"
    {{- end }}
spec:
  type: {{ .Values.app.service.type }}
  ports:
    - port: {{ .Values.app.service.externalPort }}
      targetPort: {{ .Values.app.service.internalPort }}
  selector:
    app: {{ template "fullname" . }}
    stage: {{ .Values.stage }}
    tier: app

{{- if .Values.app.ingress.enabled }}
---

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "fullname" . }}
  annotations:
    kubernetes.io/tls-acme: "true"
    kubernetes.io/ingress.class: {{ .Values.app.ingress.class }}
  labels:
    app: {{ template "fullname" . }}
    stage: {{ .Values.stage }}
    tier: app
    {{- if .Values.CI_PIPELINE_ID }}
    autodeployed: "true"
    pipeline_id: "{{  .Values.CI_PIPELINE_ID }}"
    {{- end }}
    {{- if .Values.CI_BUILD_ID }}
    build_id: "{{ .Values.CI_BUILD_ID }}"
    {{- end }}
spec:
  tls:
  - hosts:
    {{- if .Values.app.ingress.host }}
    - {{ .Values.app.ingress.host }}
    {{- end }}
    {{ $ingress :=  or (.Values.app.ingress.host) "" }}
    {{ $hostname := or (.Values.CI_ENVIRONMENT_HOSTNAME) "" }}
    {{- if ne $hostname $ingress }}
    - {{ .Values.CI_ENVIRONMENT_HOSTNAME }}
    {{- end }}
    secretName: {{ .Values.app.ingress.host | default .Values.CI_ENVIRONMENT_HOSTNAME | replace "." "-" }}-tls
  rules:
  {{- if .Values.app.ingress.host }}
  - host: {{ .Values.app.ingress.host }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ template "fullname" . }}-app
          servicePort: {{ .Values.app.service.externalPort }}
  {{- end }}
  {{- if ne $hostname $ingress }}
  - host: {{ .Values.CI_ENVIRONMENT_HOSTNAME }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ template "fullname" . }}-app
          servicePort: {{ .Values.app.service.externalPort }}
  {{- end }}
{{ end }}
