apiVersion: v1
kind: Service
metadata:
  name: {{ template "mediawiki.fullname" . }}
  labels:
    {{- include "common_labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.externalPort }}
    targetPort: {{ .Values.service.internalPort }}
    protocol: TCP
    name: {{ .Values.service.name }}
  selector:
    app: {{ template "mediawiki.fullname" . }}

{{- if .Values.node_services.enabled }}
---

apiVersion: v1
kind: Service
metadata:
  name: {{ template "mediawiki.fullname" . }}-parsoid
  labels:
    {{- include "common_labels" . | indent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 8142
    targetPort: 8142
    protocol: TCP
    name: parsoid
  selector:
    app: {{ template "mediawiki.fullname" . }}-node-services

---

apiVersion: v1
kind: Service
metadata:
  name: {{ template "mediawiki.fullname" . }}-restbase
  labels:
    {{- include "common_labels" . | indent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 7231
    targetPort: 7231
    protocol: TCP
    name: restbase
  selector:
    app: {{ template "mediawiki.fullname" . }}-node-services
{{- end -}}

{{- if .Values.memcached.enabled }}
---

apiVersion: v1
kind: Service
metadata:
  name: {{ template "mediawiki.fullname" . }}-memcached
  labels:
    {{- include "common_labels" . | indent 4 }}
    app.kubernetes.io/component: memcached
spec:
  type: ClusterIP
  ports:
  - port: 11211
    targetPort: 11211
    protocol: TCP
    name: memcached
  - port: 9150
    targetPort: 9150
    protocol: TCP
    name: metrics
  selector:
    app: {{ template "mediawiki.fullname" . }}-memcached
{{- end -}}

{{- if .Values.simplesamlphp.enabled }}
---

apiVersion: v1
kind: Service
metadata:
  name: {{ template "mediawiki.fullname" . }}-simplesamlphp
  labels:
    {{- include "common_labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.externalPort }}
    targetPort: 8080
    protocol: TCP
    name: {{ .Values.service.name }}-simplesamlphp
  selector:
    app: {{ template "mediawiki.fullname" . }}-simplesamlphp
{{- end -}}
