# values.yaml (Combined chart)

#ipeer-oneloginsaml:
#  releaseName: "ipeer-stg"    # Override release name for subchart 1
#  image:
#    pullPolicy: Always
#    repository: ipeer_app
#    tag: ##
  
#oneloginsaml:
#  releaseName: "ipeer-stg-cwl"   # Override release name for subchart 2
#  image:
#    repository: samlwrapper-onelogin
#    tag: ##
