{{- if .Values.shib.attributeMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "moodle.fullname" . }}-cm
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
    tier: configmap
data:
  attribute-map.xml: |
{{ .Values.shib.attributeMap | indent 4 }}
{{- end -}}
