apiVersion: v1
kind: Service
metadata:
  name: {{ include "moodle.fullname" . }}
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.externalPort }}
    targetPort: {{ .Values.service.internalPort }}
    protocol: TCP
    name: {{ .Values.service.name }}
  selector:
    {{- include "moodle.selectorLabels" . | nindent 4 }}
    tier: app

{{- if .Values.memcached.enabled }}
---

apiVersion: v1
kind: Service
metadata:
  name: {{ include "moodle.fullname" . }}-memcached
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 11211
    targetPort: 11211
    protocol: TCP
    name: memcached
  - port: 9150
    targetPort: 9150
    protocol: TCP
    name: metrics
  selector:
    {{- include "moodle.selectorLabels" . | nindent 4 }}
    tier: cache
{{- end -}}

{{- if .Values.redis.enabled }}
---

apiVersion: v1
kind: Service
metadata:
  name: {{ include "moodle.fullname" . }}-redis
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  - port: 9121
    targetPort: 9121
    protocol: TCP
    name: metrics
  selector:
    {{- include "moodle.selectorLabels" . | nindent 4 }}
    tier: cache
{{- end -}}

{{- if .Values.externalDatabase.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "moodle.externalDatabaseName" . }}
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
spec:
  ports:
  - port: {{ .Values.externalDatabase.service.port }}
    targetPort: {{ .Values.externalDatabase.service.port }}
    protocol: TCP
    name: db

---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: {{ include "moodle.externalDatabaseName" . }}-slice
  labels:
    kubernetes.io/service-name: {{ include "moodle.externalDatabaseName" . }}
    {{- include "moodle.labels" . | nindent 4 }}
addressType: IPv4
ports:
  - name: db
    protocol: TCP
    port: {{ .Values.externalDatabase.service.port }}
endpoints:
  {{- range .Values.externalDatabase.service.endpoints }}
  - addresses:
      - {{ . }}
  {{- end }}
{{- end -}}

{{- if .Values.shib.enabled }}
---

apiVersion: v1
kind: Service
metadata:
  name: {{ include "moodle.fullname" . }}-shibd
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: {{ .Values.shib.port }}
    targetPort: 1600
    protocol: TCP
    name: shibd
  selector:
    {{- include "moodle.selectorLabels" . | nindent 4 }}
    tier: auth
{{- end -}}
