apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ipeer.fullname" . }}-php-files
data:
  cake_libs_controller_components_auth.php: |-
{{ .Files.Get "cake_libs_controller_components_auth.php" | indent 4 }}