# Default values for mariadb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

imagePullSecrets: []

architecture: standalone

replicas: 2

image:
  registry: docker.io
  repository: mariadb
  tag:
  pullPolicy: IfNotPresent
  pullSecrets: []

auth:
  # To use existing secret, define existing secret value and keys
  existingSecret:
  rootPasswordKey:
  userPasswordKey:
  replPasswordKey:

  database:
  username:
  password:
  replicationPassword:
  maxUserConnections: 50

myCnf: |-
  [mariadb]
  bind-address=0.0.0.0
  default_storage_engine=InnoDB
  binlog_format=row
  innodb_autoinc_lock_mode=2
  max_allowed_packet=256M

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 256Mi

persistence:
  size: 10Gi
  storageClassName:
  ephemeral:

service:
  type: ClusterIP
  annotations: {}

primary:
  containerPorts:
    mysql: 3306
  automaticFailover: true
  service:
    type: ClusterIP
    annotations: {}

secondary:
  enabled: false
  service:
    type: ClusterIP
    annotations: {}
  # Semi-synchronous replication
  semiSync:
    enabled: true

backup:
  enabled: false
  # List of the databases to backup. Default backup all databases
  databases: []
  imagePullSecrets: []
  # Backup schedule (cron format)
  schedule: "0 0 * * *"
  timezone: "America/Vancouver"
  compression: bzip2
  # Storage for backups
  storage: {}
    # Using PVC for storage
#    persistentVolumeClaim:
#      resources:
#        requests:
#          storage: 100Mi
#      accessModes:
#        - ReadWriteOnce
    # Using NFS
#    volume:
#      nfs:
#        server: nas.local
#        path: /volume1/mariadb
    # or using S3 as a backup destination
#    s3:
#      bucket: backups
#      prefix: mariadb
#      endpoint: minio.minio.svc.cluster.local:9000
#      region: us-east-1
#      accessKeyIdSecretKeyRef:
#        name: minio
#        key: access-key-id
#      secretAccessKeySecretKeyRef:
#        name: minio
#        key: secret-access-key
#      tls:
#        enabled: true
#        caSecretKeyRef:
#          name: minio-ca
#          key: ca.crt
  # Define a PVC to use as staging area for keeping the backups while they are being processed.
  # S3 is the only storage type that requires a staging area.
  stagingStorage:
    enabled: false
    persistentVolumeClaim:
      resources:
        requests:
          storage: 10Gi
      accessModes:
        - ReadWriteOnce
  args: []
#    - --single-transaction
#    - --all-databases
#    - --verbose
  # Retention policy
  retention: 720h # 30 days
  logLevel: info
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 512Mi

# bootstrap the databaes from backups/NFS/physicalbackup/pvc/s3/volumesnapshot
# https://github.com/mariadb-operator/mariadb-operator/blob/main/docs/logical_backup.md#bootstrap-new-mariadb-instances
bootstrapFrom: {}

restore:
  enabled: false
  # The name of the backup to restore from
  backupName: ""
  imagePullSecrets: []

metrics:
  enabled: false
  # Exporter image
  exporter:
    image: prom/mysqld-exporter:v0.18.0
    imagePullPolicy: IfNotPresent
    imagePullSecrets: []
    resources: {}
  # ServiceMonitor settings
  serviceMonitor:
    jobLabel:
    # Scrape interval
    interval: 30s
    # Scrape timeout
    scrapeTimeout: 10s
  # Username is the username of the monitoring user used by the exporter.
  username:
  # PasswordSecretKeyRef is a reference to the password of the monitoring user used by the exporter.
  passwordSecretKeyRef: {}
