# Default values for hotcrp.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

stage: test

hotcrp:
  image:
    repository: ubcctlt/hotcrp
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
  contactName: Site Admin
  contactEmail: siteadmin@example.com
  emailFrom: siteadmin@example.com
  paperSite: ""
  # the email address for the first admin created automatically
  adminEmail: siteadmin@example.com

  # uncomment to use oauth authentication
  #loginType: oauth

  # specifiy oauth client_id and client secret separately or with existing secret
  # they can also be set directly in oauthProvider parameter
  #oauthClientId:
  #oauthClientSecret:
  # Provide the existing secret name for oauth client_id and client_secret. The
  # existing secret must contain `client_id` and `client_secret` keys
  #oauthClientExistingSecret:
  #oauthProvider: |
  # '{}'

  persistence:
    enabled: false
    api:
      storageClass: ""
      accessMode: ReadWriteMany
      size: 8Gi
    log:
      storageClass: ""
      accessMode: ReadWriteMany
      size: 8Gi

web:
  image:
    repository: nginx
    pullPolicy: IfNotPresent
    tag: "1.28-alpine"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: hotcrp.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not specifying default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

## DB chart configuration
##
db:
  ## @param db.enabled Deploy a MariaDB server to satisfy the application database requirements
  ## To use an external database set this to false and configure the `externalDatabase.*` parameters
  ##
  enabled: true

  ## @param mariadb.architecture MariaDB architecture. Allowed values: `standalone` or `replication`
  ##
  architecture: replication
  ## MariaDB Authentication parameters
  ## @param mariadb.auth.rootPassword MariaDB root password
  ## @param mariadb.auth.database MariaDB custom database
  ## @param mariadb.auth.username MariaDB custom user name
  ## @param mariadb.auth.password MariaDB custom user password
  ##
  auth:
    rootPassword:
    database: hotcrp
    username: hotcrp
    password:

## External Database Configuration
## All of these values are only used if `mariadb.enabled=false`
##
externalDatabase:
  ## @param externalDatabase.host External Database server host
  ##
  host: localhost
  ## @param externalDatabase.port External Database server port
  ##
  port: 3306
  ## @param externalDatabase.user External Database username
  ##
  user: hotcrp
  ## @param externalDatabase.password External Database user password
  ##
  password: ""
  ## @param externalDatabase.database External Database database name
  ##
  database: hotcrp
  ## @param externalDatabase.existingSecret The name of an existing secret with database credentials. Evaluated as a template
  ## NOTE: Must contain key `mariadb-password`
  ## NOTE: When it's set, the `externalDatabase.password` parameter is ignored
  ##
  existingSecret: ""

smtp:
  host: localhost
  port: 25
  #username:
  #password:
